@model Escalonamento.Models.Trocas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trocas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Turno1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Turno2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrocasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
