@model IEnumerable<Escalonamento.Models.Troca>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrocaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrocaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrocaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
