@model IEnumerable<Escalonamento.Models.Trocas>

@{
    ViewData["Title"] = "Pedidos de Trocas";
}

<h2>Pedidos de Trocas</h2>

<p>
    <a asp-action="Create">Criar novo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do solicitador:
            </th>
        </tr>
        <tr>
            <th>
                Dia:
            </th>
        </tr>
        <tr>
            <th>
                Turno:
            </th>
        </tr>
        <tr>
            <th>
                Nome do solicitado:
            </th>
        </tr>
        <tr>
            <th>
                Dia:
            </th>
        </tr>
        <tr>
            <th>
                Turno:
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrocasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrocasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrocasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
