@model Escalonamento.Models.EscalonamentoHorario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EscalonamentoHorario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gerar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gerar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visualizar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visualizar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imprimir)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imprimir)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EscalonamentoHorarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
