@model IEnumerable<Escalonamento.Models.EscalonamentoHorario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gerar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visualizar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imprimir)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gerar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visualizar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imprimir)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscalonamentoHorarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EscalonamentoHorarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EscalonamentoHorarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
