@model Escalonamento.Models.Veiculos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Veiculos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumMatricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumMatricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
