@model IEnumerable<Escalonamento.Models.Veiculos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Criar Novo </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VeiculosId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VeiculosId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VeiculosId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
