@model IEnumerable<Escalonamento.Models.Modelo>

@{
    ViewData["Title"] = "Modelos";
}

<h2>Modelos</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModeloId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ModeloId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ModeloId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
