@model IEnumerable<Escalonamento.Models.Trocas>

@{
    ViewData["Title"] = "Trocas";
}

<h2>Troca</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
