@model IEnumerable<Escalonamento.Models.Marca>

@{
    ViewData["Title"] = "Marca";
}

<h2>Marca</h2>

<p>
    <a asp-action="Create">Criar Marca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MarcaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MarcaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.MarcaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
