@model MarcaViewModel

@{
    ViewData["Title"] = "Marca";
}

<h2>Marca</h2>

<p>
    <a asp-action="Create">Criar Marca</a>
</p>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentModel" class="control-label"></label>
                    <input asp-for="CurrentModel" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Marcas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MarcaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MarcaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.MarcaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div page-model="@Model.Pagination"></div>
